{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="full-bg">
    <div class="text-center">
        <h1 class="heading">Welcome to North Electric</h1>
        <p class="tagline">Powering your world reliably and sustainably</p>
        <div class="display-search-container">
            <div class="display-search-subcontainer">
                <input type="text" id="displayText">
                <button onclick="aiSearch()" class="aiSearchBtn">AI Search</button>
                <div id="spinner"></div>
            </div>
            <div id="results">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='js/ai-search-home.js') }}"></script>
{% endblock %}
